*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 80%;
    margin: 0 auto;
   }
   section{
       width: 100%;
       height: 100px;
       background-image: url(cloud.jpg);
       background-repeat: no-repeat;
       background-size: cover;
   }
